
@use "sass:color";

.ribbon-wrapper {
  width: 72px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
  pointer-events: none;
}

.ribbon {
  font: bold 12px $font-family-bold;
  color: $gray-darker;
  text-align: center;
  text-shadow: rgba(255,255,255,0.2) 0px 1px 0px;
  position: relative;
  padding: 3px 0;
  left: -4px;
  top: 16px;
  width: 99px;
  @include box-shadow(2px 3px 3px rgba(0,0,0,0.2));
  transform: rotate(45deg);


  &:before, &:after{
    content: "";
    border-left:  3px solid transparent;
    border-right: 3px solid transparent;
    position:absolute;
    bottom: -3px;
  }

  &.ribbon-default{
    color: $gray-lighter;
    background-color: color.adjust($modal-content-bg, $lightness: -3%);
    background-image: linear-gradient(top, color.adjust($modal-content-bg, $lightness: -6%), color.adjust($gray-dark, $lightness: -3%));

    &:before, &:after{
      border-top:   3px solid color.adjust($gray-dark, $lightness: -23%);
    }
  }

  &.ribbon-green{
    background-color: $green;
    background-image: linear-gradient(top, color.adjust($green, $lightness: -3%), color.adjust($green-dark, $lightness: -3%));

    &:before, &:after{
      border-top:   3px solid color.adjust($green-dark, $lightness: -23%);
    }
  }

  &.ribbon-orange{
    background-color: $orange;
    background-image: linear-gradient(top, color.adjust($orange, $lightness: -3%), color.adjust($orange-dark, $lightness: -3%));

    &:before, &:after{
      border-top:   3px solid color.adjust($orange-dark, $lightness: -18%) ;
    }
  }

  &.ribbon-red{
    background-color:  $red;
    background-image: linear-gradient(top, color.adjust($red, $lightness: -10%), color.adjust($red, $lightness: -18%));

    &:before, &:after{
      border-top:   3px solid color.adjust($red, $lightness: -38%);
    }
  }

  &.ribbon-blue{
    background-color: $blue;
    background-image: linear-gradient(top, color.adjust($blue, $lightness: -3%), color.adjust($blue-dark, $lightness: -3%));

    &:before, &:after{
      border-top:   3px solid color.adjust($blue-dark, $lightness: -18%);
    }
  }

}

.ribbon:before {
  left: 0;
}
.ribbon:after {
  right: 0;
}