# ==============================================================================
# Local (secret) files
# ==============================================================================

.env
composer-dev.lock

# ==============================================================================
# Temporary files
# ==============================================================================

*.br
*.gz
*.zip

# ==============================================================================
# Dependencies
# ==============================================================================

node_modules/
vendor/
