{* config *}
<set registrationStatusButton="" />
<set registrationStatusTitle="" />
<check if="{{ @PATHFINDER.REGISTRATION.STATUS != '1' }}">
    <set registrationStatusButton="disabled" />
    <set registrationStatusTitle= "User registration is currently disabled" />
</check>

{* splash page *}
<include href="templates/layout/splash.html"/>

<nav id="pf-navbar" class="navbar navbar-default navbar-fixed-top pf-head">
    <div class="container">
        <div id="pf-head" class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <p class="navbar-text">
                <span class="badge txt-color txt-color-green pf-navbar-version-info">{{ @PATHFINDER.VERSION }}</span>
            </p>
            <ul class="nav navbar-nav navbar-right" role="tablist">
                <li><a class="pf-navbar-manual" href="#">Manual</a></li>
            </ul>
        </div>
        <div  class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right" role="tablist">
                <li><a class="page-scroll" data-target="pf-landing-top" href="#pf-landing-top">Login</a></li>
                <li><a class="pf-navbar-license" href="#">License</a></li>
            </ul>
        </div>
    </div>
</nav>

{* header *}
<header id="pf-landing-top">
    <picture class="pf-header-bg">
        <source type="image/webp" media="(max-width:  480px)" srcset="{{ @tplResource->getPath('image') }}/header/pf-header-480.webp">
        <source type="image/jpeg" media="(max-width:  480px)" srcset="{{ @tplResource->getPath('image') }}/header/pf-header-480.jpg">
        <source type="image/webp" media="(max-width:  780px)" srcset="{{ @tplResource->getPath('image') }}/header/pf-header-780.webp">
        <source type="image/jpeg" media="(max-width:  780px)" srcset="{{ @tplResource->getPath('image') }}/header/pf-header-780.jpg">
        <source type="image/webp" media="(max-width: 1200px)" srcset="{{ @tplResource->getPath('image') }}/header/pf-header-1200.webp">
        <source type="image/jpeg" media="(max-width: 1200px)" srcset="{{ @tplResource->getPath('image') }}/header/pf-header-1200.jpg">
        <source type="image/webp" media="(max-width: 1600px)" srcset="{{ @tplResource->getPath('image') }}/header/pf-header-1600.webp">
        <source type="image/jpeg" media="(max-width: 1600px)" srcset="{{ @tplResource->getPath('image') }}/header/pf-header-1600.jpg">
        <source type="image/webp" media="" srcset="{{ @tplResource->getPath('image') }}/header/pf-header-3840.webp">
        <source type="image/jpeg" media="" srcset="{{ @tplResource->getPath('image') }}/header/pf-header-3840.jpg">
        <img src="{{ @tplResource->getPath('image') }}/header/pf-header-3840.jpg">
    </picture>

    <canvas id="pf-header-canvas" class="hidden-xs fade" width="100%" height="480"></canvas>

    <div id="pf-logo-container" class="flex-col">
        <svg>
            <use xlink:href="#pf-svg-logo"/>
        </svg>
    </div>

    {* cookie characters *}
    <check if="{{ @cookieCharacters }}">
        <div class="container pf-character-selection">
            <repeat group="{{ @cookieCharacters }}" key="{{ @cookieName }}" value="{{ @characterData }}">
                <div class="pf-character-box new">
                    <div class="pf-dynamic-area" data-cookie="{{ @cookieName }}" data-href="{{ @BASE }}{{ 'sso','action=login' | alias }}">
                        {* character data is dynamically *}
                    </div>
                </div>
            </repeat>
        </div>
    </check>

</header>

{* login form *}
<section id="pf-landing-login">
    <div class="pf-login-warnings">

        {* SSO error *}
        <check if="{{ isset(@SESSION.SSO.ERROR) && @SESSION.SSO.ERROR }}">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-md-8 col-md-offset-2">
                        <div class="alert alert-danger">
                            <span class="txt-color txt-color-danger">Access denied</span>
                            <small>{{ @SESSION.SSO.ERROR }}</small>
                        </div>
                    </div>
                </div>
            </div>
        </check>

        {* check for setup mode *}
        <check if="{{ (isset(@ALIASES.setup) || isset(@ALIASES.setup_api)) && @PATHFINDER.SHOW_SETUP_WARNING }}">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-md-8 col-md-offset-2">
                        <div class="alert alert-warning" >
                            <p class="txt-color txt-color-warning">Setup mode active</p>
                            <check if="{{ isset(@ALIASES.setup) }}">
                                <p>The <a href="{{ @BASE }}{{ 'setup' | alias }}">/setup</a> path is accessible.</p>
                            </check>
                            <check if="{{ isset(@ALIASES.setup_api) }}">
                                <p>The setup API is accessible.</p>
                            </check>
                            <p>On production environments, make sure to <b>disable</b> setup routes in app/routes.ini!</p>
                        </div>
                    </div>
                </div>
            </div>
        </check>

        {* dynamic message container *}
        <div class="container-fluid">
            <div class="row ">
                <div class="col-xs-12 col-md-8 col-md-offset-2 pf-dynamic-message-container">
                    {* client side message e.g. ajax errors *}
                </div>
            </div>
        </div>

    </div>

    {* SSO login *}
    <div class="pf-login-main">
        <div class="container">
            <include href="templates/modules/sso.html"/>
        </div>
    </div>
</section>

{* footer *}
<footer class="pf-landing-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                Forked and maintained with ❤️ by <a target="_blank" href="https://github.com/Proudly-Snoring/pathfinder" rel="noopener">Proudly Snoring</a> from <a target="_blank" href="https://github.com/goryn-clade/pathfinder" rel="noopener">goryn-clade</a> and <a target="_blank" href="https://github.com/exodus4d/pathfinder" rel="noopener">exodus4d</a>.
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 pf-footer-admin">
                <i class="fas fa-sign-in-alt fa-fw"></i> <a href="{{ @BASE }}{{ 'admin', ['*' => ''] | alias }}">Admin SSO login</a>
            </div>
        </div>
    </div>
</footer>

{* cookie warning *}
<footer class="navbar-default navbar-fixed-bottom collapse" id="pf-cookie-hint">
    <div class="container-fluid">
        <p class="navbar-text">
            Pathfinder requires cookies to maintain your login state between browser sessions.
        </p>
        <div class="pull-right">
            <button type="button" class="btn btn-default navbar-btn btn-success" data-toggle="collapse" data-target="#pf-cookie-hint" aria-expanded="false">
                <i class="fas fa-fw fa-check"></i>&nbsp;accept&nbsp;cookies</button>
        </div>
    </div>
</footer>

{* json-LD (structured data) *}
<include href="templates/ui/jsonld.html"/>

{* hidden dialog *}
<include href="templates/dialog/gallery.html" />

<div class="pf-svg-wrapper">
    <include href="{{ 'img/' . @PATHFINDER.VERSION . '/svg/logo_inline.svg' }}"/>
    <include href="{{ 'img/' . @PATHFINDER.VERSION . '/svg/ccp_sso.svg' }}"/>
</div>